[Desktop Entry]
Type=Application
Name=Sysglance
Icon=sysglance
Comment=Simple and universal Linux utility for generating a report for the host system
Exec=sysglance
Categories=System;
Terminal=true

